body{background-color: darkgray;
}
h1{text-align: center;
color: rgb(255, 0, 0);
border-style: double;
border-width: 30px;
margin-left: 20%;
}
h2{text-align: center;
    color: rgb(0, 135, 253);
    border-style: double;
border-width: 30px;
margin-left: 20%;
}
#imal2{width: 89%;
}
h3{text-align: center;
color: rgb(255, 255, 0);
border-style: double;
border-width: 30px;
margin-left: 20%;
}
#imal3{width: 89%;
}
h4{text-align: center;
    color: rgb(0, 0, 0);
    border-style: double;
border-width: 30px;
margin-left: 20%;
}
#imal3{width: 89%;
}